.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1em 2em;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  margin: 0;
  font-size: 1.5em;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 0;
}

.navbar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background-color: #555;
}
